<div class="container">
  <div class="card mx-auto d-block" style="width: 50rem;">
    <div class="card-header">
      <h3 class="text" style="color: RGB(0, 102, 161); text-align: center">{{titulo}}</h3>
    </div>
    <div class="card-body">
      <form #addChangPass="ngForm">
        <div id="div_uni_idenf" class="form-group-row">
          <label for="unique_identifier" class="col-sm-2 col-form-label">{{l_unique_identifier}}</label>
          <div class="col-sm-10 my-3">
            <select id="unique_identifier" class="form-control" (change)="changeUniqIdent($event.target.value)">
              <option checked>{{opDni}}</option>
              <option>{{opNie}}</option>
              <option>{{opPassport}}</option>
            </select>
          </div>
        </div>
        <div *ngIf="documento == 1" class="form-group row">
          <label for="dni" class="col-sm-2 col-form-label">{{l_dni}}</label>
          <div class="col-sm-10">
            <input [(ngModel)]="userDoc.document" type="text" pattern="[0-9]{8}[a-zA-Z]{1}" maxlength="9" #dni="ngModel"
              name="unique_identifier" class="form-control" placeholder="12345678A" required />
            <div *ngIf="dni.invalid && (dni.dirty || dni.touched)" class="alert alert-danger">
              <div *ngIf="dni?.errors.required">{{valRequired}}</div>
              <div *ngIf="dni?.errors.minlength">{{valIdentificadorLenght}}</div>
              <div *ngIf="dni?.errors.maxlength">{{valIdentificadorLenght}}</div>
              <div *ngIf="dni?.errors.pattern">{{valDniPattern}}</div>
            </div>
          </div>
        </div>
        <div *ngIf="documento == 2" class="form-group row">
          <label for="nie" class="col-sm-2 col-form-label">{{l_nie}}</label>
          <div class="col-sm-10">
            <input type="text" [(ngModel)]="userDoc.document" pattern="[XYZ]{1}[0-9]{7}[A-Z]{1}" maxlength="9"
              #nie="ngModel" name="unique_identifier" class="form-control" placeholder="Z1234567Y" required />
            <div *ngIf="nie.invalid && (nie.dirty || nie.touched)" class="alert alert-danger">
              <div *ngIf="nie?.errors.required">{{valRequired}}</div>
              <div *ngIf="nie?.errors.minlength">{{valIdentificadorLenght}}</div>
              <div *ngIf="nie?.errors.maxlength">{{valIdentificadorLenght}}</div>
              <div *ngIf="nie?.errors.pattern">{{valNiePattern}}</div>
            </div>
          </div>
        </div>
        <div *ngIf="documento == 3" class="form-group row">
          <label for="pasaporte" class="col-sm-2 col-form-label">{{l_pasaport}}</label>
          <div class="col-sm-10">
            <input type="text" [(ngModel)]="userDoc.document" pattern="[a-zA-Z]{3}[0-9]{6}" maxlength="9"
              #passport="ngModel" name="unique_identifier" class="form-control" placeholder="ZZZ123456" required />
            <div *ngIf="passport.invalid && (passport.dirty || passport.touched)" class="alert alert-danger">
              <div *ngIf="passport?.errors.required">{{valRequired}}</div>
              <div *ngIf="passport?.errors.minlength">{{valIdentificadorLenght}}</div>
              <div *ngIf="passport?.errors.maxlength">{{valIdentificadorLenght}}</div>
              <div *ngIf="passport?.errors.pattern">{{valPassportPattern}}</div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="password1" class="col-sm-2 col-form-label">{{l_password1}}</label>
          <div class="col-sm-10">
            <input [(ngModel)]="pass1" [type]=" isPasswordActive ? 'password' : 'text'" class="form-control"
              #password1="ngModel" name="inputPassword" required maxlength="30" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
              placeholder="Inserta nueva contraseña">
            <div *ngIf="password1.invalid && (password1.dirty || password1.touched)" class="alert alert-danger">
              <div *ngIf="password1?.errors.required">{{valRequired}}</div>
              <div *ngIf="password1?.errors.pattern">{{valPassPattern}}</div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="password2" class="col-sm-2 col-form-label">{{l_password2}}</label>
          <div class="col-sm-10">
            <input [(ngModel)]="pass2" [type]=" isPasswordActive ? 'password' : 'text'" class="form-control"
              #password2="ngModel" maxlength="30" name="inputPassword2" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
              placeholder="Confirma la nueva contraseña">
            <div *ngIf="password2.invalid && (password2.dirty || password2.touched)" class="alert alert-danger">
              <div *ngIf="password2?.errors.required">{{valRequired}}</div>
              <div *ngIf="password2?.errors.pattern">{{valPassPattern}}</div>
            </div>
          </div>
        </div>
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="CheckPass" (click)="showMemberPassword()">
          <label class="form-check-label" for="CheckPass">{{l_CheckPass}}</label>
        </div>
        <div class="form-group row">
          <div class="col-sm-10">
            <button type="submit" name="savePass" id="btnSavePass" class="btn btn-info" (click)="savePassUser()"
             [disabled]="addChangPass.invalid">{{btn_guarda}}</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>